@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #16111a;
  font-family: 'Open Sans', sans-serif;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none; 
  cursor: pointer;
  background-color: #a638f6;
}



